/* app css stylesheet */

body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.angular-google-map-container {
    height: 600px;
}

.row {
    border-top: 5px solid #ccc;
    padding-top: 15px;
}