<div>
    <div class="nav-page-header">
        <div class="container">
            <h1>Create a rideout</h1>
        </div>
    </div>

    <google-map events="map.events" center="map.center" zoom="map.zoom" options="map.options"></google-map>
</div>

<div class="container">
    <form role="form">
        <div class="col-sm-6">
            <h2>Details</h2>
            <!-- Rideout Name -->
            <div class="form-group">
                <label for="eventName">Rideout Name</label>
                <input id="eventName" type="text" class="form-control" ng-model="formData.name" placeholder="Enter Rideout name" />
            </div>

            <div class="form-group">
                <label for="dateStart">Start Date/Time</label>
                <input id="dateStart" type="text" class="form-control" ng-model="formData.startDate" placeholder="DD/MM/YYYY" />
            </div>

            <div class="form-group">
                <label for="dateEnd">End Date/Time</label>
                <input id="dateEnd" type="text" class="form-control" ng-model="formData.endDate" placeholder="DD/MM/YYYY" />
            </div>

            <div class="form-group">
                <input id="private" type="checkbox" ng-model="formData.isPrivate" value="formData.isPrivate"/>
                <label for="private">Private</label>
            </div>
        </div>

        <div class="col-sm-6">
            <h2>Itinery</h2>
            <!--Origin-->
            <div class="form-group">
                <label for="origin">Origin</label>
                <google-autocomplete id="origin" class="form-control" location="formData.origin" placeholder="Origin"></google-autocomplete>
            </div>

            <!--Waypoints-->
            <div ui-sortable="{}" ng-model="formData.waypoints">
                <div ng-repeat="waypoint in formData.waypoints" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-align-justify" style="cursor: pointer"></span>

                        <google-autocomplete class="form-control" location="waypoint.location" placeholder="Waypoint">
                        </google-autocomplete>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="methods.removeWaypoint(waypoint)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <!--Destination-->
            <div class="form-group">
                <label for="destination">Destination</label>
                <google-autocomplete id="destination" class="form-control" location="formData.destination" placeholder="Destination"></google-autocomplete>
            </div>

            <!--Add Waypoint-->
            <div class="form-group">
                <a style="cursor: pointer" ng-click="methods.addWaypoint()">Add waypoint</a>
            </div>

            <!--Avoid Tolls-->
            <div class="form-group">
                <input id="avoidTolls" type="checkbox" ng-model="formData.avoid_tolls" value="formData.avoid_tolls" />
                <label for="avoidTolls">Avoid Tolls</label>
            </div>

            <!--Avoid Highways-->
            <div class="form-group">
                <input id="avoidHighways" type="checkbox" ng-model="formData.avoid_highways" value="formData.avoid_highways"/>
                <label for="avoidHighways">Avoid Highways</label>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-default form-control" ng-click="methods.submit()">Submit</button>
            </div>
        </div>
    </form>
</div>