<h1>Create a rideout</h1>
<form role="form">
    <div class="row">
        <div class="form-group col-lg-12">
            <label for="name">Rideout Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Rideout name" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <label>Itinerary</label>
            <!--Origin-->
            <div class="form-group row">
                <div class="col-xs-9">
                    <google-autocomplete id="directions-origin" location="origin"></google-autocomplete>
                </div>
                <div class="col-xs-3">
                    <time-select></time-select>
                </div>
            </div>

            <!--Waypoints-->
            <div ng-repeat="waypoint in waypoints" class="form-group">
                <google-autocomplete id="directions-destination" location="destination"></google-autocomplete>
            </div>

            <!--Destination-->
            <div class="form-group row">
                <div class="col-xs-9">
                    <google-autocomplete id="directions-destination" location="destination"></google-autocomplete>
                </div>
                <div class="col-xs-3">
                    <time-select></time-select>
                </div>
            </div>

            <!--Add Waypoint-->
            <div class="form-group">
                <a ng-click="addWaypoint()">Add waypoint</a>
            </div>
        </div>
        <div class="col-lg-7">
            <google-map events="map.events" center="map.center" zoom="map.zoom"></google-map>
        </div>
    </div>
    <div class="row">

    </div>
</form>